<ion-content [fullscreen]="true">
  <div class="body center">
    <br>
    <div class="form-container">
      <h2>Gestión de Tareas</h2>
      <label class="label">Nombre de la Tarea</label> <br>
      <input class="input" [formControl]="title">
      
      <br>
      <label class="label">Fecha de Inicio</label> <br>
      <input class="input" type="date" [formControl]="fch">
      
      <br><br>
      <button class="button" (click)="AddTask()">Añadir Tarea</button>
    </div>
    
    <div class="table-container; center">
      <table>
        <thead>
          <tr>
            <th>NOMBRE</th>
            <th>ID</th>
            <th>FECHA</th>
            <th>ESTADO</th>
            <th>MODIFICACIONES</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tarea of tareass | async">
            <td><input type="text" class="invis" [(ngModel)]="tarea.title"></td>
            <td>{{tarea.id}}</td>
            <td><input type="date" class="invis" [(ngModel)]="tarea.date"></td>
            <td>
              <ion-checkbox [checked]="tarea.completed" (ionChange)="Task(tarea.id,tarea.completed)"></ion-checkbox>
            </td>
            <td>
              <button class="buttonS delete" (click)="DeleteTask(tarea.id)">ELIMINAR</button>
              <button class="buttonS save" (click)="SaveTask(tarea.id, tarea.title, tarea.date)">GUARDAR</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ion-content>